<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="row p-2 bd-highlight d-flex justify-content-end">
            <div class="col">
                <!-- Nice-to-have feature for later: add conditional statement to show full cart icon or empty cart icon depending on what user has selected -->
                <div class="p-2 bd-highlight d-flex justify-content-end">
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/></svg></a>
            </div> 
            <div class="row justify-content-center">
                <div class="col">
                    <!-- PRODUCT IMAGE HERE -->
                    <p>Product Name Here</p>
                </div>
                <div class="row justify-content-center">
                    <input type="number" min="1" max="100" value="1" id="quantity">
                    <label for="quantity">Quantity</label>
                </div>
            </div>
            <div class="row justify-content-center">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="submit">
                </form>
            </div>

        </div>
    </body>
</html>